<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h4><%= @user.name %>のブログ</h4>
      <table class="table table-sm text-center table-striped table-hover mt-3 mb-3">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>作成日</th>
          </tr>
        </thead>
        <% @user.blogs.each do |blog| %>
          <tbody>
            <tr>
              <td>
                <%= link_to blog_path(blog.id) do %>
                  <%= blog.title %>
                <% end %>
              </td>
              <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>