<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>目標達成おめでとうございます！</h1>
      <h3>新しく目標を設定するにはこちら<%= link_to "こちら", new_goal_path %></h3>
      <h3>設定しない場合は<%= link_to "こちら", goals_destroy_all_path, method: :delete %></h3>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>