<div class="container">
  <div class="row mt-5">
    <h3>貯金推移</h3>
  </div>
  <div class="row mt-3">
    <div class="col-lg-4">
      <h4>現在の貯金額 <%= @saving.to_s(:delimited, delimiter: ',') %>円</h4>
    </div>
    <div class="col-lg-3">
      <p>１月</p>
      <p>２月</p>
      <p>３月</p>
      <p>４月</p>
      <p>５月</p>
      <p>６月</p>
      <p>７月</p>
      <p>８月</p>
      <p>９月</p>
      <p>10月</p>
      <p>11月</p>
      <p>12月</p>
    </div>
  </div>
</div>